<!DOCTYPE html>
<head>
    <title>Carona</title>
</head>
    

<body>
    <h1><strong>LOGIN</strong></h1>
    <form method="POST" action="/Login"></form>
        <div>
            <p>
            CPF:
            <input type="text" name="name" value= {{ cpf }}/>
            </p>
        </div>
        <div>
            <p>
            Senha:
            <input type="text" name="name" value= {{ senha }}/>
            </p>
        </div>
        <p>
            <input type="submit" value="Enviar"/>
        </p>

</body>